.imagem {
    border-radius: 8px;
    width: 300px;
    height: auto;
}
body {
    background-color: rgb(16, 66, 43);
}
section {
    text-align: center;
    text-decoration-color: rgba(165, 255, 165, 0.747);
}
a {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    color: rgb(150, 255, 206);
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 24px;
    text-align: center;
}